footer.footer
	.container
		.footer__subscribe
			.row
				.col-lg-6.col-sm-12
					p.footer__subscribe--title.sm-center subscribe to our news
				.col-lg-6.col-sm-12
					form.footer__subscribe--form(action="#")
						input.footer__subscribe--form-email(type="email" name="email" placeholder="Your email")
						input.footer__subscribe--form-btn(type="submit" value="send")
		.row
			.col-lg-3.col-sm-4.col-xs-12.xs-center
				a(href="home.html")
					img(src="assets/images/icons/footer_logo.png", alt="")
				p.footer__find find us on
				a.footer__find--link-fb(href="#") Facebook
				a.footer__find--link-ins(href="#") Instagram
			.col-lg-3.col-sm-4.hidden-xs
				ul.footer__nav
					li 
						a(href="runway.html") runway
					li 
						a(href="#") shop
					li 
						a(href="#") sale
					li 
						a(href="#") monstra workshop
					li 
						a(href="#") blog
					li 
						a(href="#") about brend
					li 
						a(href="#") contacts
			.col-lg-3.col-sm-4.hidden-xs
				ul.footer__nav
					li
						a(href="#") log in
					li
						a(href="#") my bag
					li
						a(href="#") faq
					li
						a(href="#") payment options
					li
						a(href="#") delivery
					li
						a(href="#") careers
			.col-lg-3.hidden-sm
				.footer__stories
					p stories from instagram
					.row
						a.footer__stories--link(href="#")
							img(src="assets/images/content/footer_stories.jpg", alt="")
						a.footer__stories--link(href="#")
							img(src="assets/images/content/footer_stories.jpg", alt="")
						a.footer__stories--link(href="#")
							img(src="assets/images/content/footer_stories.jpg", alt="")
						a.footer__stories--link(href="#")
							img(src="assets/images/content/footer_stories.jpg", alt="")
		p.footer__copyright © 2018 Monstra - All rights reserved