header
	.container
		.row
			.col-lg-6.col-sm-8.col-xs-12.header__left
				ul.nav__lang.hidden-sm English
					li 
						a(href="#") Russian
				a.nav__phone(href="tel:+380955350103") +38(095) 535 01 03
				a.nav__instagram(href="#")
					img(src="assets/images/icons/instagram.svg" alt="")
				a.nav__fb(href="#")
					img(src="assets/images/icons/fb.svg" alt="")
			.col-lg-6.col-sm-4.col-xs-12.text-right.header__right
				a.nav__cabinet(href="#")
					img(src="assets/images/icons/login.svg", alt="")
				a.nav__favorits(href="#")
					img(src="assets/images/icons/favorits.svg", alt="")
				a.nav__cart(href="#")
					img(src="assets/images/icons/cart.svg", alt="")
				form.nav__search.hidden-sm(action="#")
					input(type="text" placeholder="Search" name="s")
					input.nav__search--btn(type="submit" value="")
		.row.text-center
			a(href="home.html")
				img.nav__logo(src="assets/images/icons/logo.svg", alt="")
	.nav
		.container
			.row
				a.nav__mini-logo(href="home.html")
					img(src="assets/images/icons/footer_logo.png", alt="")
				nav
					ul.nav__main-menu
						li.nav__main-menu--item 
							a.nav__main-menu--item-link(href="runway.html") runway
							.box-col-1
								.row
									.col-12
										ul
											li 
												a(href="#") Yammy
											li 
												a(href="#") Monstra Girl
											li 
												a(href="#") Monstra Queen
											li 
												a(href="#") Magic Dragon
						li.nav__main-menu--item 
							a.nav__main-menu--item-link(href="women.html") women
							.box-col-2
								.row
									.col-6
										p.nav__main-menu--title Ready-to-wear
										ul
											li 
												a(href="#") Dresses
											li 
												a(href="#") T-shirts
											li 
												a(href="#") Knitted sweaters
											li 
												a(href="#") Sweatshirts
											li 
												a(href="#") Pants
											li 
												a(href="#") Outerwear
											li 
												a(href="#") Swimsuits
											li 
												a(href="#") Underwear
									.col-6
										p.nav__main-menu--title Accessories
										ul
											li 
												a(href="#") Hats
											li 
												a(href="#") Gloves
											li 
												a(href="#") Socks
											li 
												a(href="#") Earrings
											li 
												a(href="#") Chokers
										p.nav__main-menu--title
											a(href="#") Brooches
								.row
									.col-6
										p.nav__main-menu--title
											a(href="#") Shoes
									.col-6
										p.nav__main-menu--title
											a(href="#") costume for rent
						li.nav__main-menu--item 
							a.nav__main-menu--item-link(href="#") men
							.box-col-1
								.row
									.col-12
										ul
											li
												a(href="#") Ready-to-wear
											li 
												a(href="#") Accessories
						li.nav__main-menu--item 
							a.nav__main-menu--item-link(href="#") blog
						li.nav__main-menu--item 
							a.nav__main-menu--item-link(href="#") about brend
						li.nav__main-menu--item 
							a.nav__main-menu--item-link(href="#") contacts
					i.nav__main-menu--mobile-btn
					ul.nav__main-menu--mobile
						span.close
						li 
							a(href="#") runway
							ul
								li 
									a(href="#") Yammy
								li 
									a(href="#") Monstra Girl
								li 
									a(href="#") Monstra Queen
								li 
									a(href="#") Magic Dragon
						li
							a(href="#") Women
							ul
								li
									a(href="#") Ready-to-wear
									ul
											li 
												a(href="#") Dresses
											li 
												a(href="#") T-shirts
											li 
												a(href="#") Knitted sweaters
											li 
												a(href="#") Sweatshirts
											li 
												a(href="#") Pants
											li 
												a(href="#") Outerwear
											li 
												a(href="#") Swimsuits
											li 
												a(href="#") Underwear
								li
									a(href="#") Accessories
									ul
										li 
											a(href="#") Hats
										li 
											a(href="#") Gloves
										li 
											a(href="#") Socks
										li 
											a(href="#") Earrings
										li 
											a(href="#") Chokers
								li
									a(href="#") Brooches
								li
									a(href="#") Shoes
								li
									a(href="#") costume for rent
						li
							a(href="#") Men
							ul
								li
									a(href="#") Ready-to-wear
								li 
									a(href="#") Accessories
						li
							a(href="#") blog
						li
							a(href="#") about brend
						li
							a(href="#") contacts