body.fixed
	.nav
		position: fixed
		&__mini-logo
			+translate(0%,0%)
			opacity: 1
	header
		padding-bottom: 47px
header
	background: $main
	padding-top: 15px
	.nav
		background: $main
		top: 0
		left: 0
		right: 0
		z-index: 9999
		+transition(all .6s)
		&.scroll
			+translate(0,-100%)
		&__mini-logo
			+transition(all .8s)
			position: absolute
			z-index: 99
			display: block
			top: 8px
			left: 25px
			width: 40px
			z-index: 9999
			+translate(-500%,0%)
			opacity: 0
		&__lang
			position: relative
			color: #fff
			letter-spacing: 0.7px
			position: relative
			display: inline
			cursor: pointer
			margin-right: 30px
			padding-bottom: 20px
			top: 0
			transition: all .4s
			&:after
				font-family: $ff
				content: '\f107'
				position: absolute
				display: block
				right: -10px
				top: 0
			&--menu
				display: none
				position: absolute
				background: #fff
				z-index: 10
				left: 0px
				li
					padding: 5px 10px 7px
					display: block
					a
						color: $main
		&__phone
			color: #fff
			position: relative
			padding-left: 20px
			letter-spacing: 0.9px
			top: 0
			transition: all .4s
			&:before
				content: url('../images/icons/phone.svg')
				display: block
				position: absolute
				left: -2px
				top: 0
			&:hover
				top: -5px
		&__instagram
			display: inline-block
			margin-left: 20px
			position: relative
			top: 5px
			&:hover
				top: 0
		&__fb
			display: inline-block
			margin-left: 10px
			position: relative
			top: 5px
			&:hover
				top: 0
		&__cabinet
			display: inline-block
			position: relative
			top: 5px
			&:hover
				top: 0
		&__favorits
			display: inline-block
			position: relative
			top: 5px
			margin-left: 15px
			.wishlist
				position: absolute
				top: -2px
				right: -6px
				border-radius: 50%
				background: #73dff6
				width: 12px
				height: 12px
				text-align: center	
				span
					display: block
					position: relative
					top: -4px
					font-size: 7px
					color: #fff
			&:hover
				top: 0
		&__cart
			display: inline-block
			position: relative
			top: 5px
			margin-left: 15px
			.cart
				position: absolute
				top: -2px
				right: -6px
				border-radius: 50%
				background: #73dff6
				width: 12px
				height: 12px
				text-align: center	
				span
					display: block
					position: relative
					top: -4px
					font-size: 7px
					color: #fff
			&:hover
				top: 0
		&__search
			display: inline
			position: relative
			margin-left: 20px
			transition: all .4s
			input[type=text]
				border: none
				padding: 5px 11px 3px
				border-radius: 10px
				width: 120px
				margin-right: 10px
				letter-spacing: 2.5px
			&--btn
				border: none
				background-color: transparent
				z-index: 10
				width: 20px
				height: 20px
				padding: 5px
				position: relative
				cursor: pointer
			&:before
				content: url('../images/icons/search.svg')
				display: block
				position: absolute
				top: 0
				right: 0
				z-index: 1
				cursor: pointer
			&:hover
				padding-top: 5px
		&__logo
			max-width: 320px
			position: relative
			top: -8px
			margin-bottom: 14px
	nav
		padding-top: 10px
		.nav__main-menu
			text-align: center
			z-index: 999
			position: relative
			&--icons
				display: none
			&--item
				display: inline-block
				padding: 0px 28px
				color: #fff
				letter-spacing: 0.1px
				text-transform: uppercase
				position: relative
				cursor: pointer
				padding-bottom: 15px
				transition: all .4s
				&-link
					color: #fff
				&:hover
					.nav__main-menu--item-link 
						color: $hover
					color: $hover
					background-color: #FFF
					.box-col-1,.box-col-2
						display: block
				.box-col-1,.box-col-2
					box-shadow: 0px 9px 49px 0px rgba(0, 0, 0, 0.1);
					cursor: default
					text-align: left
					display: none
					width: 500px
					left: 50%
					transform: translate(-50%)
					top: 37px
					position: absolute
					padding: 20px 20px
					background: url('../images/content/menu_bcg.png') no-repeat top right #fff
					background-size: cover
					&:after
						content: ''
						display: table
						clear: both
					ul
						margin-bottom: 20px
						li
							display: block
							padding: 0px 10px
							padding-top: 5px
							transition: all .4s
							&:hover
								background-color: $main
							&:first-child
								margin-top: 10px
						a
							color: #000
							font-family: $regular
							text-transform: none
							display: block
							&:hover
								padding-left: 10px
								color: #fff
				.box-col-1
					width: 250px
					ul
						margin-bottom: 0
						li
							a
								font-family: $medium
								font-size: 18px
								text-transform: uppercase
							&:first-child
								margin: 0
			&--title
				color: #000
				font-family: $medium
				font-size: 18px
				padding: 0px 10px
				a
					color: #000
					font-family: $medium
					font-size: 18px
					margin: 0px -10px
					padding: 0px 10px
					display: block
					&:hover
						padding-left: 20px
						background-color: $main
						color: #fff
			&--mobile
				position: fixed
				overflow: auto
				display: none
				top: 0
				bottom: 0
				left: 0
				right: 0
				padding-top: 40px
				background: $main
				z-index: 9999
				.close
					position: absolute
					right: 20px
					top: 10px
					cursor: pointer
					&:after
						font-family: $ff
						content: '\f00d'
						color: #fff
						font-size: 20px
				&-btn
					display: none
					position: absolute
					right: 20px
					top: 10px
					cursor: pointer
					&:after
						font-family: $ff
						content: '\f0c9'
						font-size: 30px
						color: #fff
				li
					display: block
					text-align: center
					text-transform: uppercase
					padding: 10px 0px
					border: 1px sold transparent
					+transition(all .4s)
					&:hover
						border-color: $main
						background: #fff
						a
							color: $main
					a
						color: #fff
					ul
						display: none



@media screen and (max-width: 1024px)
	header
		.nav
			&__logo
				top: 0
				padding-top: 20px
@media screen and (max-width: 768px)
	header
		.header
			&__left
				text-align: center
				padding-bottom: 10px
			&__right
				text-align: center
				a
					display: none
		nav
			min-height: 47px
			.nav
				&__main-menu
					display: none
					&--icons
						display: block
					&--mobile
						&-btn
							display: block
@media screen and (max-width: 480px)
	header
		.header
			&__left
				text-align: center
				padding-bottom: 10px
			&__right
				text-align: center
		.nav
			&__logo
				max-width: 200px



