section.about
	.about__top
		img(src="assets/images/content/about_brand.jpg", alt="")
	.about__content
		.container
			p.about__content--title Привет, это MONSTRA brand и самый монстерский сайт во Вселенной, который открыт для тебя (да!) 25 часов в сутки:
			.row
				.col-lg-6
					img(src="assets/images/content/about-img2.jpg", alt="")
				.col-lg-6
					ul
						li Приходи в шоу-рум примерить одежду из любой коллекции, купить новую монстра-брошку, сменить привычную обувь на космические босоножки, или просто попить с нами кофе и посплетничать о "модных" новостях.
						li Приводи своего Monstra man к нам в гости для смелых имиджевых экспериментов (вы уже оценили мужской спортивный костюм и безрукавку с челюстями?).
						li Заходи почаще на страницы нашего интернет-магазина за новинками и "вкусными" скидками, а в Fb- и Insta- группу за полезной информацией, акциями и розыгрышами.
						li Делись с нами своими "бомбическими" идеями, планами, настроением, и просто оставайся с нами на одной монстро-волне.
			.row
				.col-lg-8
					p.about__content--title А теперь для серьезных монстров:
					p 
						strong monstra 
						| - украинский мультибренд, основанный в 2016 году дизайнерами марией и николаем плохутой. марка представляет собой творческую "коллаборацию" нескольких направлений.
						br
						br
						strong monstra brand 
						| выпускает женскую и мужскую одежду, модную обувь, оригинальные аксессуары и броши.
						br
						br
						strong monstra workshop 
						| создает броши и украшения ручной работы, занимается декорированием и отделочными работами для собственного бренда и для дизайнеров по всему миру.
						br
						br
						strong monstra showroom 
						| реализует продажу всех коллекций бренда, прокат и аренду своих изделий для телепроектов и шоу, создает сценические образы знаменитостям и звездам.
						br
						br
						strong monstra decoration 
						| занимается оформлением пространства, разработкой и установкой декораций для fashion-показов, клипов, телепрограмм, руководит оформлением и художественной стилистикой бренда monstra.
				.col-lg-4
					img(src="assets/images/content/about-img1.jpg", alt="")
			.row
				.col-lg-4
					img(src="assets/images/content/runway_item2.jpg", alt="")
				.col-lg-8
					p.about__content--title Характеристики monstra:
					ul
						li Много деталей и интересных конструкторских решений в дизайне одежды и обуви.
						li Фактурные натуральные и искусственные хай-тек ткани высокого качества.
						li Яркие неоновые или нежные пудровые расцветки.
						li Авторские эксцентричные принты собственного производства.
						li Большое количество вышивки и декора ручной работы с использованием оригинальных материалов.
						li Задействование мастеров самых разных уровней и направлений.
			.row
				.text-center
					strong НУ И НАПОСЛЕДОК..
					p В 
						strong monstra 
						| всегда открыты для интересного fashion-сотрудничества, постоянно ищут украинских производителей, фабрики, ателье - профессионалов своего дела, рады знакомству и обмену опытом с талантливыми людьми со всего мира.. ^_^
				.col-lg-4
					img(src="assets/images/content/women-item3.jpg", alt="")
				.col-lg-4
					img(src="assets/images/content/women-item4.jpg", alt="")
				.col-lg-4
					img(src="assets/images/content/women-item5.jpg", alt="")
