section.blog
	.container
		.blog__content
			p.blog__content--title Monstra Blog
			.row
				.col-lg-4
					a(href="#")
						.blog__content--item
							img(src="assets/images/content/main-stories-item1.jpg", alt="")
							.blog__content--item-title Title
							.blog__content--item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non enim velit sunt corporis hic fugiat totam deleniti reprehenderit debitis consequuntur.
				.col-lg-4
					a(href="#")
						.blog__content--item
							img(src="assets/images/content/main-stories-item1.jpg", alt="")
							.blog__content--item-title Title
							.blog__content--item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non enim velit sunt corporis hic fugiat totam deleniti reprehenderit debitis consequuntur.
				.col-lg-4
					a(href="#")
						.blog__content--item
							img(src="assets/images/content/main-stories-item1.jpg", alt="")
							.blog__content--item-title Title
							.blog__content--item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non enim velit sunt corporis hic fugiat totam deleniti reprehenderit debitis consequuntur.
			.row
				.col-lg-4
					a(href="#")
						.blog__content--item
							img(src="assets/images/content/main-stories-item1.jpg", alt="")
							.blog__content--item-title Title
							.blog__content--item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non enim velit sunt corporis hic fugiat totam deleniti reprehenderit debitis consequuntur.
				.col-lg-4
					a(href="#")
						.blog__content--item
							img(src="assets/images/content/main-stories-item1.jpg", alt="")
							.blog__content--item-title Title
							.blog__content--item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non enim velit sunt corporis hic fugiat totam deleniti reprehenderit debitis consequuntur.
				.col-lg-4
					a(href="#")
						.blog__content--item
							img(src="assets/images/content/main-stories-item1.jpg", alt="")
							.blog__content--item-title Title
							.blog__content--item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non enim velit sunt corporis hic fugiat totam deleniti reprehenderit debitis consequuntur.