section.cart-page
	.container
		p.cart-page__title Корзина
		.cart-page__item
			.row
				.col-lg-4
					img(src="assets/images/content/runway_item3.jpg", alt="")
				.col-lg-4
					p.cart-page__item--title Sweet blue dress
					p.cart-page__item--price $ 250.00
					p.cart-page__item--code Vendor code 112h36g00
					p.cart-page__item--option Color: red
				.col-lg-4
					p.cart-page__item--price $ 250.00
					p Колличество
					input(type="text" value="1")
					button
						i.fresh
					button
						i.del
		.cart-page__item
			.row
				.col-lg-4
					img(src="assets/images/content/runway_item3.jpg", alt="")
				.col-lg-4
					p.cart-page__item--title Sweet blue dress
					p.cart-page__item--price $ 250.00
					p.cart-page__item--code Vendor code 112h36g00
					p.cart-page__item--option Color: red
				.col-lg-4
					p.cart-page__item--price $ 250.00
					p Колличество
					input(type="text" value="1")
					button
						i.fresh
					button
						i.del
		.cart-page__item
			.row
				.col-lg-4
					img(src="assets/images/content/runway_item3.jpg", alt="")
				.col-lg-4
					p.cart-page__item--title Sweet blue dress
					p.cart-page__item--price $ 250.00
					p.cart-page__item--code Vendor code 112h36g00
					p.cart-page__item--option Color: red
				.col-lg-4
					p Колличество
					input(type="text" value="1")
					button
						i.fresh
					button
						i.del
		.cart-page__btn
			p.cart-page__total Всего: 200uah
			a.cart-page__apply(href="#") Оформить заказ

