section.category-page
	.category-page__title
		img(src="assets/images/icons/footer_logo.png", alt="")
		p.category-page__title--text Ready-to-wear
	.category-page__content
		.container-fluid
			.row
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
				.col-lg-4
					.category-page__content--item
						span.category-page__content--item-add_favorits
						img(src="assets/images/content/runway_item3.jpg", alt="")
						img.hidde(src="assets/images/content/women-item1.jpg", alt="")
						p.category-page__content--item-title Sweet blue dress
							span $ 250.00
							a(href="#") shop this>
			.category-page__content--more
				a(href="#") view all
		.container
			.category-page__content--info
				.container
					a(href="#") payment options
					a(href="#") delivery
					a(href="#") returns & exchanges
					a(href="#") size table