section.contacts
	.container
		.contacts__description
			p Kiev, Ukraine
			p Andryushchenko street 6G
			p
				a(href="tel:+38(095)535 01 03") +38(095)535 01 03
			p
				a(href="mailto:monstra.decoration@gmail.com") monstra.decoration@gmail.com
			p
				a(href="#")
					img(src="assets/images/icons/fb_b.svg", alt="")
				a(href="#")
					img(src="assets/images/icons/instagram_b.svg", alt="")
		iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6042.039133232623!2d30.474058020578145!3d50.4529363619433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce87ba59af8b%3A0x1805366a98b7b74!2z0LLRg9C70LjRhtGPINCT0YDQuNCz0L7RgNGW0Y8g0JDQvdC00YDRjtGJ0LXQvdC60LAsIDbQkywg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1518997929049" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)

