section.delivery
	.delivery__top
		img(src="/image/catalog/Banner/delivery.png", alt="")
	.delivery__content
		.container
			.delivery__content--box
				p.atention 
					strong Внимание! 
					|День доставки устанавливается после проверки наличия товара в шоу руме или утверждения сроков изготовления изделия под заказ.
				p.title Доставка Украина
				p.litle *Оплачивается при получении посылки. Стоимость зависит от веса и объема товара.
				.row
					.col-lg-6.col-sm-12
						p.title-second.new-post Новая почта:
						a(href="https://novaposhta.ua/ru/delivery" target="_blank") Рассчитать стоимость
						br
						a(href="https://novaposhta.ua/ru/office" target="_blank") Найти отделение
						br
						a(href="https://novaposhta.ua/ru/tracking" target="_blank") Отследить заказ
					.col-lg-6.col-sm-12
						p.title-second.del Курьерская доставка (Киев)
						p от 50 гривен
				p.title Доставка Мир
				p.litle *Оплачивается заранее, вместе с заказом. Стоимость зависит от веса и объема товара.
				.row
					.col-lg-6.col-sm-12
						p.title-second.ua-post Укрпочта
						a(href="https://ukrposhta.ua/en/?openpage" target="_blank") Отследить заказ
					.col-lg-6.col-sm-12
						p.title-second.fedex Fedex
						a(href="https://www.fedex.com/apps/fedextrack/?action=track&cntry_code=ae" target="_blank") Отследить заказ
				.row
					.col-lg-6.col-sm-12
						p.title-second.ems EMS
						a(href="https://www.ems.post/en/global-network/tracking" target="_blank") Отследить заказ