section.main
	.main-slider
		.main-slider__item
			img(src="assets/images/content/main-slider-bcg.jpg", alt="")
			.main-slider__item-content
				.container
					p.main-slider__title new collection
						span «yammy»
					.row.main-slider__buttons
						.col-lg-12.text-center
							a(href="#") shop
		.main-slider__item
			img(src="assets/images/content/main-slider-bcg.jpg", alt="")
			.main-slider__item-content
				.container
					p.main-slider__title new collection
						span «yammy»
					.row.main-slider__buttons
						.col-lg-12.text-center
							a(href="#") shop
	.main-slider-btn