section.main-colection
	.container
		.row
			.col-lg-6.hidden-md
				img.main-colection__main-image(src="assets/images/content/main-colection_1.jpg", alt="")
			.col-lg-6.col-md-12
				.main-colection__title
					img.main-colection__title--logo(src="assets/images/content/main-colection_logo.png", alt="")
					p.main-colection__title--title Collection 'Yammy'
					p.main-colection__title--description now available
					a.main-colection__title--link(href="#") discover the collection
					img.main-colection__title--img(src="assets/images/content/main-colection_2.jpg", alt="")
