section.main-slider
	.container
		p.main-slider__title new collection
			span «yammy»
		.row.main-slider__buttons
			.col-lg-6.text-right
				a(href="#") shop women
			.col-lg-6.text
				a(href="#") shop men