section.main-stories
	.container
		p.main-stories__title Stories
		.row
			.col-lg-4
				.main-stories__item
					img(src="assets/images/content/main-stories-item1.jpg", alt="")
					p.main-stories__item--description Welcome! Our showroom was opened
					a.main-stories__item--link(href="#") Read more>
				.main-stories__item
					img(src="assets/images/content/main-stories-item1.jpg", alt="")
					p.main-stories__item--description Welcome! Our showroom was opened
					a.main-stories__item--link(href="#") Read more>
			.col-lg-4
				.main-stories__item
					img(src="assets/images/content/main-stories-item2.jpg", alt="")
					p.main-stories__item--description Welcome! Our showroom was opened
					a.main-stories__item--link(href="#") Read more>
			.col-lg-4
				.main-stories__item
					img(src="assets/images/content/main-stories-item1.jpg", alt="")
					p.main-stories__item--description Welcome! Our showroom was opened
					a.main-stories__item--link(href="#") Read more>
				.main-stories__item
					img(src="assets/images/content/main-stories-item1.jpg", alt="")
					p.main-stories__item--description Welcome! Our showroom was opened
					a.main-stories__item--link(href="#") Read more>