section.pay
	.pay__top
		img(src="/image/catalog/Banner/payment.png", alt="")
	.pay__content
		.container
			.pay__content--box
				p.atention 
					strong Внимание! 
					|После получения заказа, в шоу руме уточняется наличие товара.
					br
					|Изделия, которых нет в наличии, изготавливаются под заказ!
					br
					|Сроки изготовления указаны в карточке товара.
				p.title Оплата Украина
				p.litle *Реквизиты высылаются после согласования наличия товара.
				.row
					.col-lg-6.col-sm-12
						p.title-second.card Переводы:
						p Онлайн платежным сервисом LiqPay
							br
							|На карту Приват Банка
					.col-lg-6.col-sm-12
						p.title-second.cash Наличными:
						p На карту Приват Банка
							br
							|Курьерской доставке (Киев)
				p.title Оплата Мир
				p.litle *Подберем удобные способы оплаты. Реквизиты высылаются после согласования наличия товара.
				.row
					.col-lg-6.col-sm-12
						p.title-second.card Переводы:
						p На карту Visa / MasterCard
							br
							|Онлайн любым платежным сервисом
					.col-lg-6.col-sm-12
						p.title-second.cash Наличными:
						p Действующей у вас платежной системой: Western Union, MoneyGram, PrivatMoney, Unistream, и другие
