section.product-page
	.product-page__modal
		img(src="assets/images/content/runway_item3.jpg", alt="")
	.container
		.product-page__content
			.row
				.col-lg-7.col-sm-12
					.row
						.col-lg-9.col-xs-12
							span.product-page__content--main-img-icon
							img.product-page__content--main-img(src="assets/images/content/runway_item3.jpg", alt="")
						.col-lg-3.col-xs-12
							.product-page__content--images
								img.active-img(src="assets/images/content/runway_item3.jpg", alt="")
								img(src="assets/images/content/women-item2.jpg", alt="")
								img(src="assets/images/content/runway_item2.jpg", alt="")
								img(src="assets/images/content/runway_item1.jpg", alt="")
				.col-lg-5.col-sm-12
					.product-page__content--description
						span.product-page__content--description-add_favorits
						p.product-page__content--description-title Sweet blue dress
						p.product-page__content--description-stock In stock
						p.product-page__content--description-price $ 250.00
						p.product-page__content--description-vendor Vendor code 112h36g00
						form
							label.color
								select.turnintodropdown
									option Check color
									option color
									option color
									option color
									option color
							label.size
								select.turnintodropdown
									option Check size
									option size
									option size
									option size
									option size
							label.size
								a.guide(href="#") Size guide
							.clearfix
							input.add(type="button" value="Add to shoping bag")
		.product-page__details
			p.product-page__details--title Product details
			p.product-page__details--description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam aperiam quam consectetur minima, fugit dolor ex quis minus cupiditate aliquam, labore quibusdam error illum, esse laboriosam illo quos nam nesciunt totam consequatur explicabo. Est, libero eum enim fuga aspernatur non tenetur temporibus quae, laudantium iste dicta! Neque obcaecati, perferendis vitae?