section.product-page
	.container
		.product-page__content
			.row
				.col-lg-7
					.row
						.col-lg-9
							span.product-page__content--main-img-icon
							img.product-page__content--main-img(src="assets/images/content/runway_item3.jpg", alt="")
						.col-lg-3
							.product-page__content--images
								img(src="assets/images/content/runway_item3.jpg", alt="")
								img(src="assets/images/content/women-item2.jpg", alt="")
								img(src="assets/images/content/runway_item2.jpg", alt="")
								img(src="assets/images/content/runway_item1.jpg", alt="")
				.col-lg-5
					.product-page__content--description
						span.product-page__content--description-add_favorits
						p.product-page__content--description-title Sweet blue dress
						p.product-page__content--description-price $ 250.00
						p.product-page__content--description-vendor Vendor code 112h36g00
						form
							label.color
								select.turnintodropdown
									option Check color
									option color
									option color
									option color
									option color
							label.size
								select.turnintodropdown
									option Check size
									option size
									option size
									option size
									option size
							label.size
								a.guide(href="#") Size guide
							.clearfix
							input.add(type="button" value="Add to shoping bag")