section.runway-page
	.runway-page__title
		img(src="assets/images/icons/footer_logo.png", alt="")
		p.runway-page__title--text Runway
	.runway-page__items
		.container
			.row
				.col-lg-6
					.runway-page__items--item
						a(href="#")
							img(src="assets/images/content/runway_item1.jpg", alt="")
							p.runway-page__items--item-title Yammy
								span view collection>
				.col-lg-6
					.runway-page__items--item
						a(href="#")
							img(src="assets/images/content/runway_item2.jpg", alt="")
							p.runway-page__items--item-title montra girl
								span view collection>
				.col-lg-6
					.runway-page__items--item
						a(href="#")
							img(src="assets/images/content/runway_item3.jpg", alt="")
							p.runway-page__items--item-title monstra queen
								span view collection>
				.col-lg-6
					.runway-page__items--item
						a(href="#")
							img(src="assets/images/content/runway_item4.jpg", alt="")
							p.runway-page__items--item-title MAGIC DRAGON
								span view collection>
