section.size
	.size__content
		.container
			.size__content--box
				p.size__content--box--title Таблица размеров
				table
					thead
						<tr>
						<td width="19%">Буквенное обозначение</td>
						<td width="12%">Обхват груди, см</td>
						<td width="12%">Обхват талии, см</td>
						<td width="12%">Обхват бедер, см</td>
						<td width="13%">Длина рукава, см</td>
						<td width="12%">Размер, Европа</td>
						</tr>
					<tbody>
					<tr>
					<td width="19%">XXS</td>
					<td width="12%">76</td>
					<td width="12%">58</td>
					<td width="12%">82</td>
					<td width="13%">58/60</td>
					<td width="12%">32</td>
					</tr>
					<tr>
					<td width="19%">XS</td>
					<td width="12%">80</td>
					<td width="12%">62</td>
					<td width="12%">86</td>
					<td width="13%">59/61</td>
					<td width="12%">34</td>
					</tr>
					<tr>
					<td width="19%">S</td>
					<td width="12%">84</td>
					<td width="12%">66</td>
					<td width="12%">92</td>
					<td width="13%">59/61</td>
					<td width="12%">36</td>
					</tr>
					<tr>
					<td width="19%">M</td>
					<td width="12%">88</td>
					<td width="12%">70</td>
					<td width="12%">96</td>
					<td width="13%">60/62</td>
					<td width="12%">38</td>
					</tr>
					<tr>
					<td width="19%">M</td>
					<td width="12%">92</td>
					<td width="12%">74</td>
					<td width="12%">100</td>
					<td width="13%">60/62</td>
					<td width="12%">40</td>
					</tr>
					<tr>
					<td width="19%">L</td>
					<td width="12%">96</td>
					<td width="12%">78</td>
					<td width="12%">104</td>
					<td width="13%">60/62</td>
					<td width="12%">42</td>
					</tr>
					<tr>
					<td width="19%">L</td>
					<td width="12%">100</td>
					<td width="12%">82</td>
					<td width="12%">108</td>
					<td width="13%">61/63</td>
					<td width="12%">44</td>
					</tr>
					<tr>
					<td width="19%">XL</td>
					<td width="12%">104</td>
					<td width="12%">86</td>
					<td width="12%">112</td>
					<td width="13%">61/63</td>
					<td width="12%">46</td>
					</tr>
					<tr>
					<td width="19%">XXL</td>
					<td width="12%">108</td>
					<td width="12%">90</td>
					<td width="12%">116</td>
					<td width="13%">61/63</td>
					<td width="12%">48</td>
					</tr>
					<tr>
					<td width="19%">XXL</td>
					<td width="12%">112</td>
					<td width="12%">94</td>
					<td width="12%">120</td>
					<td width="13%">6163</td>
					<td width="12%">50</td>
					</tr>
					<tr>
					<td width="19%">XXXL</td>
					<td width="12%">116</td>
					<td width="12%">98</td>
					<td width="12%">124</td>
					<td width="13%">62/64</td>
					<td width="12%">52</td>
					</tr>
					<tr>
					<td width="19%">4XL</td>
					<td width="12%">120</td>
					<td width="12%">102</td>
					<td width="12%">128</td>
					<td width="13%">62/64</td>
					<td width="12%">54</td>
					</tr>
					<tr>
					<td width="19%">4XL</td>
					<td width="12%">124</td>
					<td width="12%">106</td>
					<td width="12%">132</td>
					<td width="13%">62/65</td>
					<td width="12%">56</td>
					</tr>
					<tr>
					<td width="19%">4XL</td>
					<td width="12%">128</td>
					<td width="12%">110</td>
					<td width="12%">136</td>
					<td width="13%">62/65</td>
					<td width="12%">58</td>
					</tr>
					<tr>
					<td width="19%">5XL</td>
					<td width="12%">132</td>
					<td width="12%">114</td>
					<td width="12%">140</td>
					<td width="13%">62/65</td>
					<td width="12%">60</td>
					</tr>
					<tr>
					<td width="19%">5XL</td>
					<td width="12%">136</td>
					<td width="12%">118</td>
					<td width="12%">144</td>
					<td width="13%">62/65</td>
					<td width="12%">62</td>
					</tr>
					<tr>
					<td width="19%">5XL</td>
					<td width="12%">140</td>
					<td width="12%">122</td>
					<td width="12%">48</td>
					<td width="13%">62/65</td>
					<td width="12%">64</td>
					</tr>
					</tbody>