section.wishlist-page
	.container
		p.wishlist-page__title Мои закладки
		.wishlist-page__item.col-lg-6
			.row
				.col-lg-6
					a(href="#")
						img(src="assets/images/content/runway_item3.jpg", alt="")
				.col-lg-6
					p.wishlist-page__item--title 
						a(href="#") Sweet blue dress
					p.wishlist-page__item--price $ 250.00
					p.wishlist-page__item--code Vendor code 112h36g00
					a.wishlist-page__item--link(href="#") Купить