section.women-page
	.women-page__title
		img(src="assets/images/icons/footer_logo.png", alt="")
		p.women-page__title--text Women
	.women-page__content
		.container
			.row
				.col-lg-6
					.women-page__content--item
						a(href="#")
							img(src="assets/images/content/women-item1.jpg", alt="")
							p.women-page__content--item-title Ready-to-wear
								span Show all>
				.col-lg-6
					.women-page__content--item
						a(href="#")
							img(src="assets/images/content/women-item2.jpg", alt="")
							p.women-page__content--item-title Shoes
								span Show all>
					.women-page__content--item
						a(href="#")
							img(src="assets/images/content/women-item3.jpg", alt="")
							p.women-page__content--item-title Monstra Brooches
								span Show all>
				.col-lg-6
					.women-page__content--item
						a(href="#")
							img(src="assets/images/content/women-item4.jpg", alt="")
							p.women-page__content--item-title Accessories
								span Show all>
					.women-page__content--item
						a(href="#")
							img(src="assets/images/content/women-item5.jpg", alt="")
							p.women-page__content--item-title Handbags
								span Show all>
				.col-lg-6
					.women-page__content--item
						a(href="#")
							img(src="assets/images/content/women-item6.jpg", alt="")
							p.women-page__content--item-title For rent
								span Show all>