extends ../layout/base

append config
	- var pageTitle = 'Main page'

block content

	include ../components/_main-slider
	include ../components/_main-colection
	include ../components/_main-category
	include ../components/_main-sale
	include ../components/_main-stories
	