#filterpro_box {
    margin-bottom: 20px;
}

form#filterpro_box {
    display: block;
}

#filterpro_box .option_box {
    display: inline-block;
    margin: 0 0 10px;
    padding-bottom: 10px;
    min-width: 100%;
    vertical-align: top;
    border-bottom: solid 1px #23a1d1;
}

#filterpro_box .price_limit {
    border: 1px solid #23a1d1;
    font-weight: bold;
    width: 100%;
    text-align: center;

}

#filterpro_box .ui-widget-header {
    background: none repeat scroll 0 0 rgba(35, 161, 207, 0.29);
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
}
#filterpro_box .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
    border-color: #23a1d1;
}
#filterpro_box select {
    width: 100%;
}

#filterpro_box .ui-state-hover, #filterpro_box .ui-state-focus, #filterpro_box .ui-state-active {
    border: 1px solid #0088CC;
    background: none repeat scroll 0 0 #d9f2fc;
}

#filterpro_box .price_slider {
    padding: 5px;
}

#filterpro_box .price_slider input {
    width: 40% !important;
}

#filterpro_box .price_slider label {
    display: inline !important;
}

#filterpro_box .option_values {
    padding-top: 5px;
}

#filterpro_box .option_name, #filterpro_box .attribute_group_name {
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 0;
    vertical-align: middle;
    position: relative;
}

#filterpro_box .option_name:after, #filterpro_box .attribute_group_name:after {
    border-color: #23a1d1 transparent transparent;
    border-style: solid;
    border-width: 4px 5px 0;
    clear: both;
    content: " ";
    display: inline-block height : 0;
    margin: 0 0 1px;
    width: 0;
    right: 6px;
    top: 12px;
    position: absolute;
}

#filterpro_box .attribute_group_name {
    padding-left: 0;
}

#filterpro_box .option_name.hided:after, #filterpro_box .attribute_group_name.hided:after {
    border-color: transparent transparent #23a1d1;
    border-width: 0 4px 5px;
}

#filterpro_box .clear_filter {
    float: right;
    cursor: pointer;
    color: #23a1d1;
}

#filterpro_box .clear_filter a {
    width: 20px;
    height: 22px;
    display: block;
    line-height: 22px;
    text-align: center;
    font-size: 20px;
    color: #23a1d1;
}

#filterpro_box .clear_filter a:hover {
    color: #23a1d1;
}

#filterpro_box .collapsible {
    max-height: 118px;
    margin: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#filterpro_box .collapsible.brand {
    max-height: 144px;
}

#filterpro_box .brand img {
    width: 18%;
}

#filterpro_box img {
    cursor: pointer;
    margin: 0 1% 2%;
    width: 14%;
    height: auto;
    float: left;
    border: 1px solid #eee;
}

#filterpro_box img.selected {
    border: 2px solid;
}

#column-left + #column-right + #content .product-grid > div.loadmask {
    width: 100%;
}

#filterpro_box input {
    margin: 5px 3px;
}

#filterpro_box table {
    margin-bottom: 5px;
}

#filterpro_box label {
    margin-bottom: 0;
    display: block;
    cursor: pointer;
}

#filterpro_box label:hover {
    background: #f7f7f7;
}

#filterpro_box .ui-slider {
    margin: 15px 5px 5px 5px;
}

#filterpro_box .ui-slider .ui-slider-handle {
    border: none;
    cursor: pointer;
    background: #23a1d1 center center no-repeat;
}

#filterpro_box .ui-slider-horizontal {
    border-radius: 0px;
}
#filterpro_box ol, ul {
    margin: 0;
    padding: 0;
}