.category-page
	&__title
		background: url('../images/content/category-bcg.jpg') no-repeat center center
		background-size: cover
		padding-top: 20%
		text-align: center
		&--text
			padding-top: 20px
			color: #fff
			text-transform: uppercase
			font-size: 120px
			font-family: $bold
			line-height: 1.2
			padding-bottom: 12%
			cursor: default
	&__content
		background-color: $second
		padding-bottom: 20px
		$gutter : 4px
		.container-fluid
			padding: 0px $gutter/2
			.row
				margin: 0px $gutter/2*(-1)
			@each $slug, $size in $breakpoints
				@media (max-width: #{$size})
					.hidden-#{$slug}
						display: none
					@for $i from 1 through $grid-size
						.col-#{$slug}-#{$i}
							width:  ( $i /$grid-size ) *100%
							float: $float
							padding: $gutter/2
							min-height: 1px
							position: relative
			.empty
				padding: 20px
				background: url(../images/content/menu_bcg.png) no-repeat top right #fff
				min-height: 350px
				margin: 0 auto
				h2
					font-size: 24px
					font-family: $regular
					padding-top: 30px
		&--filter
			.logo--mobile
				display: none
				background: $main
				padding: 5px 0px
				margin: 0px -2px
				img
					max-width: 50px
					margin: 0 auto
					display: block
		&--filter,.search_form
			padding-top: 35px
			padding-bottom: 35px
			margin: 0 auto
			max-width: 480px
			h2
				font-size: 30px
				font-family: $regular
				padding-bottom: 30px
			.form
				padding: 20px
				border: 1px solid $main
			form
				margin: 0 -10
				+clearfix
				position: relative
			.option_name
				font-size: 14px
				opacity: .5
				padding-bottom: 5px
				text-align: center
				display: none
			.option_box
				float: left
				width: 33.3%
				display: block
				padding: 0px 10px
			input,select,textarea,.button
				padding: 10px 15px
				border: 1px solid $main
				font-size: 14px
				color: $main
				display: block
				width: 100%
			.clear_filter
				display: none
				.button
					text-align: center
					padding: 7px 7px
					width: 35px
					color: #fff
					background: $main
					+transition(all .4s)
					cursor: pointer
					&:hover
						background: $hover
			input[type=radio]
				display: inline-block
				padding: 0
				border: 1px solid $main
				height: 10px
				width: 10px
				border-radius: 50%
				+transition(all .4s)
				cursor: pointer
				&:hover
					border-color: $hover
				&:checked
					background: $main
			input[type=checkbox]
				width: 15px
				height: 15px
				display: inline-block
				padding: 0
				top: 5px
				position: relative
				&:checked
					background: $main
			input:disabled
				border: 1px solid $gray
				background: transparent !important
			.button
				background: $main
				color: #fff
				text-transform: uppercase
		.search_form
			max-width: 100%
		&--item
			position: relative
			overflow: hidden
			+transition(all 0.4s)
			&-title
				background-color: rgba($second, .7)
				position: absolute
				z-index: 999
				bottom: 0px
				padding-bottom: 20px
				padding-top: 20px
				left: 0
				font-size: 24px
				+translate(0,100%)
				right: 0
				text-align: center
				line-height: 1.4
				color: #000
				+transition(all 0.4s)
				span
					display: block
					position: relative
					.old
						font-size: 14px
						text-decoration: line-through
						opacity: .7
				a
					font-size: 16px
			&-link
				color: #000
				text-transform: uppercase
				padding: 0px 30px
				&:hover
					color: #fff
					padding-left: 40px
					background-color: $main
			&:hover
				.category-page__content--item-title
					+translate(0,0)
				.hidde
					opacity: 1
			.hidde
				position: absolute
				opacity: 0
				top: 0
				z-index: 9
				+transition(all 0.4s)
			&-add_favorits
				position: absolute
				right: 20px
				top: 20px
				cursor: pointer
				z-index: 99
				&:hover
					&:after
						content: url('../images/icons/favorits_black2.svg')
				&:after
					+transition(all 0.4s)
					display: block
					content: url('../images/icons/favorits_black.svg')
			img
				width: 100%
				height: auto
				max-width: none
				display: block
		&--more
			padding-top: 35px
			padding-bottom: 35px
			text-align: center
			a
				display: inline-block
				text-transform: uppercase
				font-size: 18px
				font-family: $medium
				color: #fff
				background-color: $main
				border-radius: 10px
				padding: 15px 70px
				&:hover
					background-color: $hover
		&--info
			background-color: #FFF
			text-align: center
			margin-top: 20px
			padding-top: 35px
			padding-bottom: 35px
			.container
				max-width: 480px
			a
				display: block
				font-size: 30px
				text-transform: uppercase
				letter-spacing: 1px
				line-height: 1.2
				color: #000
				&:hover
					color: #fff
					padding-left: 20px
					background-color: $main
.pagination
	padding: 40px 0px
	padding-bottom: 20px
	text-align: center
	font-size: 16px
	li
		display: inline-block
		a,span
			background-color: $main
			display: inline-block
			margin: 0px 5px
			padding: 10px 15px
			color: #fff
			&:hover
				background-color: $hover
	.active
		span
			background: #fff
			color: $main
			&:hover
				background-color: #fff
@media screen and (max-width: 1024px)
	.category-page
		&__content
			&--item
				&-title
					+translate(0,0)
@media screen and (max-width: 768px)
	.category-page
		&__title
			&--text
				font-size: 50px
@media screen and (max-width: 480px)
	.category-page
		&__content
			&--filter
				padding-top: 15px
				padding-bottom: 15px
				.logo--mobile
					display: block
				.option_box
					width: 33.3%
					padding: 0px 5px
					padding-bottom: 10px
				select
					width: 100%
					text-align: center
			&--item
				&-title
					font-size: 16px
