.main-stories
	padding-top: 45px
	padding-bottom: 45px
	border-top: 20px solid $second
	border-bottom: 25px solid $second
	&__title
		font-size: 36px
		text-align: center
		padding-bottom: 45px
		text-transform: uppercase
	&__item
		text-align: center
		padding-bottom: 35px
		img
			width: 100%
			margin-bottom: 10px
		&--description
			font-size: 18px
			letter-spacing: 1px
			padding-bottom: 10px
		&--link
			color: #000
			text-transform: uppercase
			letter-spacing: 1px
			&:hover
				color: $hover